.container-one
  #profile-pic
  #header-name Prithvi
  #header-one
    .lines
      Success is often achieved by those who don't know that failure is inevitable.
      %p
        = "- Coco Chanel"
  #footer


    #items
      = link_to image_tag('/assets/linkedin-logo.png'), 'http://www.google.com'



