// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

  background: rgb(230, 143, 131);
}

.container-one{
  width: auto;
height: 50%;

margin: auto;
margin-top: 50px;
padding: 10px;

}
#profile-pic{
margin: auto;
width: 180px;
height: 180px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url("profile.png") -207px -7px;
border: 20px solid rgb(221, 115, 115);

}
#profile-pic:hover{
  background: url("profile.png") -19px -7px;

  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#profile-info{

  width: 40%;
height: 40%;
margin: auto;
margin-top: 10px;
border: 1px solid rgb(206, 216, 164);

}

#header-one {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 160px;
  background: rgb(140, 211, 191);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 20px 20px 0px;
}

#header-one:after {

  content: " ";
  display: block;
  position: relative;
  width: 420px;
  bottom: 80px;
  height: 260px;

  background: linear-gradient(-45deg, transparent 75%, rgb(123, 216, 182) 75%) 0 50%, linear-gradient(45deg, transparent 75%, rgb(92, 218, 177) 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 30px 30px, 30px 30px;
  }
.lines{
  margin-left: 20px;
  font-family: monospace;
  font-size: 22px;
  }
#header-name{
  text-align: center;
  margin-top: 10px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: rgb(221, 228, 172);
  font-size: 30px;
}
#footer{
  margin: auto;
margin-top: 50px;

width: 400px;
#items{
  padding-right: 30px;
}
}